*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/Group\ 1939.png);
    background-repeat: no-repeat;
}

/* Heading caption */
.caption h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 30px;
    color: rgba(84, 189, 149, 1);
}
/* Menu Items style */
.menu a{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: rgba(0, 0, 0, 1);
    margin-left: 22px;
}
/* Button area style */
.login a{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-decoration: none;
    color: #A6A6A6;
    margin: auto;
}
.signup{
    background-color: rgba(84, 189, 149, 1);
}
.signup a{
    color: #F8F8FA; 
    border-radius: 10px;
    text-decoration: none;
    /* padding: 5px 5px; */
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    display: block;
    margin: auto;
}
.signup:hover{
        background-color: rgb(0, 102, 63);

}
/* Increase area style  */
.increase-area{
    margin-top: 100px;
}
.inc-heading h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    color: rgba(25, 26, 21, 1);
}
.border-img{
    width: 447px;
    height: 31px;
    margin-top: 20px;
}
.inc-heading P{
    width: 461px;
    font-size: 18px;
    margin-top: 50px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
}
.inc-img img{
    width: 660.68px;
    height: 558.99px;
    /* some isue image width */
}
.play-wiew{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    text-align: center;
}
.trail-btn{
    border: none;
    width: 165px;
    height: 62px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    background-color: #54BD95;
    color: rgba(255, 255, 255, 1);
}
.play img{
    width: 152px;
    height: 40px;
    margin-top: 12px;
}
.view h5{
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    justify-content: center;
    color: rgba(25, 26, 21, 1);
}
/* Collabs area add */
.collapse-heading h1{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: rgba(25, 26, 21, 1);
}
.flex-area {
    display: flex;
    margin: 70px 0px;
}
.products img{
    width: 145px;
    height: 36px;
    color: #A6A6A6;
}
/* rating and contant area style */
.gap{
    padding: 60px;
    column-gap: 10px;
}
.contant h1{
    color: #191A15;
    font-size: 44px;
    font-weight: 700;
}
.contant p{
    margin-top: 25px;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: rgba(166, 166, 166, 1);
    line-height: 30px;
}
.rating{
    display: flex;
}
.star{
    margin-top: 50px;
}
.star img{
    width: 26px;
    height: 26px;
}
.rating-number h2{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 20px;
    color: rgba(25, 26, 21, 1);
}
.rating-number span{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(25, 26, 21, 1);
}
.rating-number h5{
    font-size: 18px;
    font-weight: 700;
    color: rgba(166, 166, 166, 1);
}
.logo-contant{
    display: flex;
    margin-top: 20px;
}
.logo{
    width: 60px;
    margin-right: 20px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
.logo img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.logo-heading h2{
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    color: rgba(25, 26, 21, 1);
}
.logo-heading p{
    color: rgba(166, 166, 166, 1);
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
/* Features cab style */
.features-heading h1{
    color: rgba(25, 26, 21, 1);   
    line-height: 60px;
    font-weight: 600;
    font-size: 50px;
}
.features-para{
    
}