*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/Background-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
} 

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

.navbar{
    width: 1180px;
    margin: auto;
    overflow: hidden;
} 
.nav-alignment{
    margin-top: 40px;
    margin-bottom: 130px;
}
/* Heading caption */
.header-area{
    margin-top: 40px;
    margin-right: 1;
}
.captions img{
    width: 160px;
    height: 30px;
}
/* Menu Items style */
.nav-margin{
    margin: auto;
    gap: 40px;
}
.menu a{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: 19.36px;
    color: rgba(166, 166, 166, 1);
}
.menu a:hover{
    border: 1px solid gray;
}

/* Button area style */
.login{
    width: 80px;
    height: 40px;
    padding: 0px;
}
.login {
    font-size: 16px;
    font-weight: 500;
    color: #A6A6A6;
    font-family: 'Inter';
    line-height: 19.36px;
    text-decoration: none;
    
}
.login:hover{
    font-size: 20px;
    font-weight: 500;
    color: #A6A6A6;
    font-family: 'Inter';
}
.signup{
    width: 80px;
    height: 40px;
    padding: 0px;
}
.signup {
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    color: rgba(248, 248, 250, 1);
    border-radius: 10px;
    font-family: 'Inter';
    line-height: 19.36px;
    background-color: rgb(0, 102, 63);
}
.signup:hover{
    color: rgb(209, 132, 132);
}
/*increase area style  */

.increase-area{
    display: flex;
}
.inc-heading h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.inc-image img{
    width: 479px;
    height: auto;
    margin-top: 30px;
}
.inc-heading P{
    width: 461px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    line-height: 30px;
    font-family: 'Inter';
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 1  );
}
.image-right img{
    width: 660px;
    float: right;
    margin-right: -118px;
}
.btn-play{
    margin-top: 50px;
    /* margin-right: -300px; */
}
.try button{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-decoration: none;
    font-family: 'Inter';
    border: 1px solid gray;
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    background-color: #54BD95;
    color: rgba(255, 255, 255, 1);
}
button:hover{
    background-color: rgb(99, 219, 179);
    transition: 1s ease;
}
.play-img{
    width: 152px;
    height: 40px;
    float: left;
    margin-top: 12px;
}

.right-contant img{
    width: 440px;
    height: 414px;
    float: right;
}
.play-img img:hover{
    transform: rotate(360deg);
    transition: 5s ease;
}
/* Collabs area add */
.collapse-heading{
    margin-top: 130px;
}
.collapse-heading h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.products{
    text-align: center;
}
.products img{
    width: 145px;
    height: 36px;
    margin: 37px;
}
.products img:hover{
    background-color: #15C39A;
    border-radius: 30px;
    padding: 5px 8px;
    transform: rotate(360deg);
    transition: 5s;
}

/* rating and contant area style */
.extra-width{
    width: 1440px;
    background-color: rgba(249, 248, 254, 1);
    margin: auto;
    margin-top: 130px;
    padding: 60px 130px;
    overflow: hidden;
    display: block;
}
.gaps{
    display: flex;
}
.contant h1{
    font-size: 44px;
    font-weight: 700;
    color: #191A15;     
    font-family: 'Inter';
}
.contant p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    line-height: 30px;
    margin-bottom: 1rem;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.rating{
    margin-top: 50px;
    display: flex;
}
.star img{
    width: 26px;
    height: 26px;
}
.rating-number h2{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.rating-number span{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.rating-number h5{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.logo-contant{
    display: flex;
    margin-top: 20px;
}
.logo{
    width: 60px;
    margin-right: 20px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
.logo img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.logo-heading h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.logo-heading p{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
/* Features cab style */
.features-area{
    margin-top: 130px;
}
.features-heading h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);   
}
.features-para h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.features-para p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.button-right-side{
    text-align: right;
    margin: auto;
}
/* features area style */
.feauture-area-margin{
    margin-top: 74px;
}
.img-con-pra{
    margin-top: 50px;
}
.image img{
    width: 355px;
    height: 430px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.img-con-pra h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Inter';
    color:rgba(25, 26, 21, 1);
}
.img-con-pra p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
/* icone and contant add */
.benifit{
    margin-top: 130px;
}
.benifit-area h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    font-family: 'Inter';
    padding: 0px 150px 25px 0px;
    color: rgba(25, 26, 21, 1);
}
.icon-contant{
    display: flex;
    column-gap: 30px;
    margin-top: 15px;
}
.checkbox{
    font-size: 32px;
    color: rgba(84, 189, 149, 1);
}
.icon-contant p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.bg-img{
    width: 450px;
    float: right;
    height: 529px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/Rectangle.svg);
}
.top-img{
    display: block;
    margin: 30px 0px 0px -130px;
}
.right-img{
    float: right;
    display: block;
    overflow: hidden    ;
    margin: -18px -80px 0px 0px;
}

.left-img{
    float: left;
    display: block;
    margin: 130px 0px 0px -70px;
}

.bottom-img{
    display: block;
    margin: 348px 0px 0px -110px;
}
/* choose plan  style*/
.choose-plan{
    margin-top: 130px;
}
.choose-plan h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.choose-plan p{
    font-size: 18px;
    margin-top: 40px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.btn-width{
    margin: auto;
    width: 340px;
    height: 70px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}
.monthly{
    width: 160px;
    height: 56px;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    background-color: rgba(255, 255, 255, 1);
}
.yearly{
    border: none;
    width: 160px;
    height: 56px;
    border-radius: 10px;
    font-family: 'Inter';
    background-color: rgba(84, 189, 149, 1);
}
.version-mt{
    margin-top: 67px;
    /* gap: 19px; */
}
.plan-con{
    border-radius: 15PX;
    margin-bottom: 30px;
    box-shadow: 1px 0px 13px 0px white;
    background-color:rgb(255, 255, 255);
    padding: 30px 20px 25px 20px;
}
.plan-con h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px; 
    text-align: center;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.plan-con p{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    font-family: 'Inter';
    padding: 0px 32px 0px;
    color: rgba(166, 166, 166, 1);
}
.dollar{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 75px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.price{
    color: red;
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    font-family: 'Inter';
    margin: -15px 0px 30px 0px;
    color: rgba(25, 26, 21, 1);
}

/* plan area style */
.plan{
    padding: 30px;
    background-color: rgba(249, 250, 251, 1);
    border-radius: 15px;
}
.free-plan{
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.checkbox-2{
    width: 26px;
    height: 26px;
    color: rgba(109, 209, 48, 1);
}
.free-plan h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
/* free and pro future style */
.plan-button {
    text-align: center;
    margin-top: 27px;
}
.free-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 20px;
    font-family: 'Inter';
    text-decoration: none;
    background-color: white;
    padding: 17px 65px 17px 65px;
    color: rgba(84, 189, 149, 1);
}
.pro-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 20px;
    font-family: 'Inter';
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: 
    rgba(84, 189, 149, 1);
    padding: 17px 65px 17px 65px;
}
.pro{
    margin-top: -22px;
    box-shadow: 1px 0px 13px 0px white;
    background-color: rgba(84, 189, 149, 1);
    border-radius: 15PX;
    padding: 30px 20px 25px 20px;
}
.pro h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px; 
    text-align: center; 
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}
.pro p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 27px;
    font-family: 'Inter';
    padding: 0px 32px;
    color: rgba(255, 255, 255, 1);
}
.plan-con p{
    margin-top: 10px;
}
.pro-dollar{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 75px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1)
}
.pro-price{
    color: red;
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    font-family: 'Inter';
    margin: -15px 0px 30px 0px;
    color: rgba(255, 255, 255, 1)
}
.pro-save-btn{
    text-align: center;
    margin-bottom: 25px;
}
.pro-save-btn button {
    border: none; 
    width: 130px;
    height: 40px;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    align-items: center;
    border-radius: 10px;   
    color: rgba(255, 255, 255, 1);
    background-color: rgba(133, 218, 185, 1);
}
.pro-btn{
    width: 230px;
    height: 60px;
    border: none;
    background-color: rgba(84, 189, 149, 1);
    border-radius: 20px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Inter';
}
/* footer area style */
.footer{
    margin-top: 130px;
    padding-top: 130px;
    display: block;
    background-color: rgba(22, 28, 40, 1)
}
.footer-area{
    /* margin-right: 50px; */
    /* display: flex; */
}
.footer-heading{
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    padding-right: 80px;
    font-family: 'Inter';
}
.footer-para-1{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 30px;
    font-family: 'Inter';
    padding-right: 40px;
    color: rgba(166, 166, 166, 1);
}
.f-img{
    margin-top: 42px;
}
.footer-para-2{
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 30px;
    padding-right: 40px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.footer-para{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.footer-para-bottom{
    font-size: 18px;
    font-weight: 500;
    margin-top: 79px;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.man-img{
    display: flex;
    margin-top: 40px;
    padding-right: 115px;
}
.images{
    width: 66px;
    height: 66px;
}
.Biccas{
    margin-top: 130px;
}
.caption-2{
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(84, 189, 149, 1);
}
.images{
    display: flex;
}
.images img{
    width: 66px;
    height: 66px;
    float: left;
}
.play-btn{
    width: 66px;
    height: 66px;
    border: 2px solid white;
    border-radius: 50%;
}
.play-btn img{
    text-align: center;
    align-items: center;
    margin: 20px 25px;
} 
.email{
    display: flex;
    padding: 05px;
    width: 400px;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: ;
}
.email-con p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(166, 166, 166, 1);
    margin: auto;
    padding: 10px;
    float: left;
    font-family: 'Inter';
}
.icons{
    width: 46px;
    float: right;
    height: 46px;
    border-radius: 50px;
    background-color: green;
}
.icons img{
    width: 24px;
    height: 24px;
    float: right;
    margin: 10px 10px 10px 10px;   
}
.from-con{
    border-radius: 10px;
    background-color: rgba(34, 41, 56, 1);
    width: 612px;
    height: 588px;
    padding: 40px 86px 66px 86px;
}
.from-con img{
    width: 72px;
    margin: auto;
    height: 86px;
    display: block;
}
.from-con h1{
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 36px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}
 label {
     font-size: 14px;
     font-weight: 500;
     margin-bottom: 20px;
     line-height: 16.94px;
     display: inline-block;
    color: rgba(255, 255, 255, 1);
}
input{
    width: 440px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 17px 0px 17px 20px;
}
textarea{
    width: 440px;
    height: 80px;
    border: none;   
    border-radius: 10px;
    padding: 20px 0px 43px 20px;
}
input::placeholder{
    margin-left: 20px;
}
.from-btn{
    width: 440px;
    height: 60px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(84, 189, 149, 1);
}
.free-trial{
    float: right;
    font-size: 14px;
    margin-top: 10px;
    line-height: 16.94px;
    color: rgba(166, 166, 166, 1)
}
.free-trial span{
    float: right;
    font-size: 14px;
    margin-left: 5px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
}
.help-care {
    margin-top: 122px;
}
.care {
    font-size: 18px;    
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 21.78px;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}
.services{
   font-size: 18px; 
   font-weight: 500;
   margin-top: 20px;
   line-height: 21.78px;
   font-family: 'Inter';
   color: rgba(166, 166, 166, 1);
}
.conditon{
    float: right;
    font-size: 18px;
    margin-top: 38px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}

/* responsive area */
/* Mobile responsive area */
@media(max-width: 575px){
    body{
        background-image: url(images/Background-img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inc-heading h2{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
    .inc-image img{
        width: 350px;
    }
    .inc-heading p{
        width: auto;
    }
    .collapse-heading{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
    .contant h1{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
    .contant p{
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .inc-image {
        text-align: center;
    }
    .inc-heading p{
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .btn-play{
        display: flex;
        flex-direction: column;
    }
    .try{
        width: auto;
        margin: auto;
    }
    .ply{
        margin: auto;
    }
    .ply{
        margin-top: 50px;
    }
    .trail-btn{
        margin-top: 50px;
    }
    .img-con-pra p{
        margin-top: 20px;
    }
    .hover-btn{
        margin: 20px;
    }
    .free-plan{
        margin-top: 15px;
    }
    .from-con{
        width: auto
        /* margin: auto; */
    }
    input{
        width: 200px;
    }
    textarea{
        width: 200px;
        height: 60px;
    }
    .from-btn{
        width: 200px;
    }
    .right-img {
        float: right;
        display: block;
        overflow: hidden;
        margin: -18px -65px 0px 0px;
    }
    .image-right img{
        margin-top: 80px;
        width: 400px;
        margin: auto;
        margin-top: 80px;
    }
    .extra-width{
        width: auto;
        margin-top: 0px;
    }
    .gaps{
        display: flex;
        flex-direction: column;
    }
    .logo-contant{
        margin-top: 50px;
        display: table-footer-group;
    }
    .logo{
        margin: 20px 30px;
    }
    .star{
        margin-bottom: 40px;
    }
    .features-area{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features-heading h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .img-con-pra{
        text-align: center;
    
    }
    .benifit{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .check-align{
        margin-top: 50px;
        margin-left: 30px;
    }
    .benifit-area h1{
        font-size: 40px;
        text-align: center;
        padding: 0px;
    }
    .image{
        width: 100%;
    }
    .bg-img{
        margin-right: 0px;
        width: 50%;
        margin-top: 50px;
        border-radius: 20px;
        background-image: url(images/Rectangle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        float: none;
        margin: auto;
        height: 320px;
    }
    .top-img{
        margin: 30px 0px 0px -85px;
    }
    .top-img img{
        width: 200px;
    }
    .price img{
        width: 130px;
    }
    .bottom-img{
        margin: 233px 0px 0px -100px;
    }
    .bottom-img img{
        width: 200px;
    }
    .btn-width{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .version-mt{
        margin: 100px 0px;
        display: flex;
        flex-direction: column; 
    }
    .plan-con{
        text-align: center;
        width: 400px;
        margin: auto;
        margin-bottom: 15px;
    }
    .plan{
        width: 350px;
        margin: auto;
    }
    .pro{
        width: 400px;
        margin: auto;
    }
    .man-img{
        margin-right: 0px;
    }
    .email{
        width: auto;
        margin: 0px 20px 0px 0px;
    }
    
}
/* Max width 576px for small */
@media screen and (min-width: 576px) and (max-width: 767px){
    body{
        background-image: url(images/Background-img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inc-heading h2{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
    .collapse-heading{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
    .contant h1{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
    }
    .contant p{
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .inc-image {
        text-align: center;
    }
    .inc-heading p{
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .trail-btn{
        margin-top: 50px;
    }
    .img-con-pra p{
        margin-top: 20px;
    }
    .hover-btn{
        margin: 20px;
    }
    .free-plan{
        margin-top: 15px;
    }
    .from-con{
        width: 500px;
    }
    input{
        width: 350px;
    }
    textarea{
        width: 350px;
        height: 70px;
    }
    .from-btn{
        width: 350px;
    }
    .right-img {
        float: right;
        display: block;
        overflow: hidden;
        margin: -18px -65px 0px 0px;
    }
    .btn-play{
        justify-content: center;
    }
    .try{
        width: 200px;
    }.image-right img{
        margin-top: 80px;
        width: 500px;
        margin: auto;
        margin-top: 80px;
    }
    .extra-width{
        width: auto;
        margin-top: 0px;
    }
    .gaps{
        display: flex;
        flex-direction: column;
    }
    .logo-contant{
        margin-top: 50px;
    }
    .star{
        margin-bottom: 40px;
    }
    .features-area{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features-heading h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .img-con-pra{
        text-align: center;
    
    }
    .benifit{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .check-align{
        margin-top: 50px;
    }
    .benifit-area h1{
        font-size: 40px;
    }
    .bg-img{
        margin-right: 0px;
        width: 400px;
        margin-top: 50px;
        border-radius: 20px;
        background-image: url(images/Rectangle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        margin-right: 38px;
    }
    .version-mt{
        display: flex;
        flex-direction: column; 
    }
    .plan-con{
        text-align: center;
        width: 400px;
        margin: auto;
        margin-bottom: 15px;
    }
    .plan{
        width: 350px;
        margin: auto;
    }
    .pro{
        width: 400px;
        margin: auto;
    }
    .man-img img{
        margin-right: 0px;
    }
    .footer{
        margin-top: 0px;
    }
    .from-con{
        width: 515px;
        margin-top: 50px;
    }
}
/* min width 768px to 991px for ipad mini */
@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: url(images/Background-img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inc-heading h2{
        font-size: 60px;
        text-align: center;
    }
    .inc-image {
        text-align: center;
    }
    .inc-heading p{
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .btn-play{
        justify-content: center;
    }
    .try{
        width: 200px;
    }.image-right img{
        margin-top: 80px;
        width: 500px;
        margin: auto;
        margin-top: 80px;
        margin-right: 80px;
    }
    .extra-width{
        width: auto;
    }
    .gaps{
        display: flex;
        flex-direction: column;
    }
    .logo-contant{
        margin-top: 50px;
    }
    .star{
        margin-bottom: 40px;
    }
    .features-area{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features-heading h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .img-con-pra{
        text-align: center;
    }
    .benifit{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .check-align{
        margin-top: 50px;
    }
    .benifit-area h1{
        font-size: 40px;
    }
    .bg-img{
        width: 450px;
        margin-top: 50px;
        margin-right: 90px;
        background-image: url(images/Rectangle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }
    .version-mt{
        display: flex;
        flex-direction: column; 
    }
    .plan-con{
        text-align: center;
        width: 400px;
        margin: auto;
        margin-bottom: 15px;
    }
    .plan{
        width: 350px;
        margin: auto;
    }
    .pro{
        width: 400px;
        margin: auto;
    }
    .man-img img{
        margin-right: 0px;
    }
    .from-con {
        width: 620px;
        margin: auto;
        margin-top: 50px;
    }
    input{
        width: 400px;
        height: 50px;
    }
    textarea{
        width: 400px;
        height: 70px;
    }
    label{
        font-size: 22px;
    }
    .from-btn{
        width: 400px;
    }
}   
/* responsive width desktop display */
@media screen and (min-width: 992px) and (max-width: 1199px){
    .inc-heading h2{
        font-size: 41px;
        font-weight: 700;
        line-height: 60px;
    }
    .image-right img{
        width: 425px;
        height: 430px;
        margin-top: -20px;
        margin-right: 0px;
    }
    .inc-image img{
        width: 450px;
    }
    .try button{
        font-size: 16px;
        padding: 17px 20px 17px 20px;
    }
    .products img {
        margin: 19px;
    }
    .extra-width{
        width: auto;
    }
    .contant h1 {
        font-size: 41px;
    }
    .features-heading h1 {
        font-size: 41px;
    }
    .image img {
        width: 296px;
        height: 400px;
    }
    .bg-img {
        width: 400px;
        height: 474px;
        float: left;
    }
    .benifit-area h1 {
        font-size: 41px;
    }
    .icon-contant p {
        font-size: 16px;
    }
    .bottom-img { 
        margin: 300px 0px 0px -110px;
    }
    .free-btn {
        padding: 17px 19px 17px 19px;
    }
    .pro-btn{
        padding: 17px 19px 17px 19px;
    }
    .footer-heading h1{
        font-size: 41px;
    }
    .plan-con{
        background-color: rgb(241 231 231);
    }
    .plan-con p{
        padding: 0px;
    }
    .from-con{
        width: 430px;
    }
    input {
        width: 300px;
    }
    textarea{
        width: 300px;
    }
    .from-btn{
        width: 300px;
    }
    .Biccas{
        margin-top: 55px;
    }
    .footer-para-bottom{
        margin-top: 54px;
    }
    .man-img{
        padding-right: 40px;
    }
}
/* responsive min width 1200 to 1399 for desktop */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .inc-heading h2{
        font-size: 80px;
        font-weight: 700;
        line-height: 90px;
        font-family: 'Inter';
        color: rgb(25, 26, 21);
    }
    .image-right img{
        width: 560px;
        height: 430px;
        margin-top: 19px;
        margin-right: 0px 
    }
    .inc-image img{
        width: 450px;
    }
    .try button{
        font-size: 16px;
        padding: 17px 20px 17px 20px;
    }
    .products img {
        margin: 19px;
    }
    .extra-width{
        width: auto;
    }
    .contant h1 {
        font-size: 41px;
    }
    .features-heading h1 {
        font-size: 41px;
    }
    .image img {
        width: 296px;
        height: 400px;
    }
    .bg-img{
        width: 450px;
        height: 474px;
        float: left;
        margin-left: 55px
    }
    .button-right-side {
        margin: auto;
        text-align: center;
        margin-top: 0px;
    }
    .benifit-area h1 {
        font-size: 41px;
    }
    .icon-contant p {
        font-size: 16px;
    }
    .bottom-img { 
        margin: 300px 0px 0px -110px;
    }
    .free-btn {
        padding: 17px 19px 17px 19px;
    }
    .pro-btn{
        padding: 17px 19px 17px 19px;
    }
    .footer-heading h1{
        font-size: 41px;
    }
    .plan-con{
        background-color: rgb(252, 249, 249);
        box-shadow: white 1px 0px 13px 0px;
    }
    .plan-con p{
        padding: 0px;
    }
}

