*{
    margin: 0;
    padding: 0;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}
/* Menu Items style */
.navbar{
    margin-top: 40px;
}
.navbar-brand{
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(84, 189, 149, 1);
}
.home-menu{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: 'Inter';
    color: rgba(0, 0, 0, 1);

}
.menus{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.navbar-nav{
    gap: 40px;
    margin-left: 198px;
}
/* Button area style */
.login-signup{
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.login{
    width: 80px;
    height: 40px;
    border: none;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: inter;
    color: rgba(166, 166, 166, 1);
}
.login:hover{
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    font-family: 'Inter';
}
.signup{
    width: 80px;
    height: 40px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: inter;
    border-radius: 10px;
    background-color: rgba(84, 189, 149, 1);
}
.signup:hover{
    color: aliceblue;
    background-color: rgb(18, 104, 71);
}
/*increase area style  */
/* Heading caption */
.header-area{
    margin-top: 40px;
    margin-right: 1;
}
.captions img{
    width: 160px;
    height: 30px;
}
.increase-area{
    display: flex;
}
.inc-heading h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.inc-image img{
    width: 479px;
    height: auto;
    margin-top: 30px;
}
.inc-heading P{
    width: 461px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    line-height: 30px;
    margin-bottom: 0px;
    font-family: 'Inter';
    color: rgba(0, 0, 0, 1  );
}
.image-right img{
    width: 660px;
    float: right;
    margin-right: -118px;
}
.btn-play{
    margin-top: 50px;
    /* margin-right: -300px; */
}
.try button{
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    line-height: 21.78px;
    font-family: 'Inter';
    text-decoration: none;
    border: 1px solid gray;
    padding: 20px 30px 20px 30px;
    background-color: #54BD95;
    color: rgba(255, 255, 255, 1);
}
button:hover{
    background-color: rgb(99, 219, 179);
    transition: 1s ease;
}
.play-img{
    width: 152px;
    height: 40px;
    float: left;
    margin-top: 12px;
}

.right-contant img{
    width: 440px;
    height: 414px;
    float: right;
}
.play-img img:hover{
    color: red;
    transition: 2s ease;
    transform: rotate(360deg);
}
/* Collabs area add */
.collapse-heading{
    margin-top: 130px;
}
.collapse-heading h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.products{
    text-align: center;
}
.products img{
    width: 145px;
    height: 36px;
    margin: 37px;
}
.products img:hover{
    transition: 2s;
    padding: 5px 8px;
    border-radius: 30px;
    transform: rotate(360deg);
    background-color: #b1c7c2;
}

/* rating and contant area style */
.extra-width{
    width: 1440px;
    margin: auto;
    display: block;
    overflow: hidden;
    margin-top: 130px;
    padding: 60px 130px;
    background-color: rgba(249, 248, 254, 1);
}
.gaps{
    display: flex;
}
.contant h1{
    font-size: 44px;
    font-weight: 700;
    color: #191A15;     
    font-family: 'Inter';
}
.contant p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    line-height: 30px;
    margin-bottom: 1rem;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.rating{
    margin-top: 50px;
    display: flex;
}
.star img{
    width: 26px;
    height: 26px;
}
.rating-number h2{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.rating-number span{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.rating-number h5{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.logo-contant{
    display: flex;
    margin-top: 20px;
}
.logo{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.logo img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.logo-heading h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.logo-heading p{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
/* Features cab style */
.features-area{
    margin-top: 130px;
}
.features-heading h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);   
}
.features-para h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.features-para p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.button-right-side{
    text-align: right;
    margin: auto;
}
/* features area style */
.feauture-area-margin{
    margin-top: 74px;
}
.img-con-pra{
    margin-top: 50px;
}
.image img{
    width: 355px;
    height: 430px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.img-con-pra h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Inter';
    color:rgba(25, 26, 21, 1);
}
.img-con-pra p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
/* icone and contant add */
.benifit{
    margin-top: 130px;
}
.benifit-area h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    font-family: 'Inter';
    padding: 0px 150px 25px 0px;
    color: rgba(25, 26, 21, 1);
}
.icon-contant{
    display: flex;
    column-gap: 30px;
    margin-top: 15px;
}
.checkbox{
    font-size: 32px;
    color: rgba(84, 189, 149, 1);
}
.icon-contant p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.bg-img{
    width: 450px;
    float: right;
    height: 529px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/Rectangle.svg);
}
.top-img{
    display: block;
    margin: 30px 0px 0px -130px;
}
.right-img{
    float: right;
    display: block;
    overflow: hidden    ;
    margin: -18px -80px 0px 0px;
}

.left-img{
    float: left;
    display: block;
    margin: 130px 0px 0px -70px;
}

.bottom-img{
    display: block;
    margin: 348px 0px 0px -110px;
}
/* choose plan  style*/
.choose-plan{
    margin-top: 130px;
}
.choose-plan h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.choose-plan p{
    font-size: 18px;
    margin-top: 40px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.btn-width{
    margin: auto;
    width: 340px;
    height: 70px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    border-radius: 10px;
}
.monthly{
    width: 160px;
    height: 56px;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    background-color: rgba(255, 255, 255, 1);
}
.yearly{
    border: none;
    width: 160px;
    height: 56px;
    border-radius: 10px;
    font-family: 'Inter';
    background-color: rgba(84, 189, 149, 1);
}
.version-mt{
    margin-top: 67px;
    /* gap: 19px; */
}
.plan-con{
    border-radius: 15PX;
    margin-bottom: 30px;
    box-shadow: 1px 0px 13px 0px white;
    background-color:rgb(255, 255, 255);
    padding: 30px 20px 25px 20px;
}
.plan-con h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px; 
    text-align: center;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
.plan-con p{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    font-family: 'Inter';
    padding: 0px 32px 0px;
    color: rgba(166, 166, 166, 1);
}
.dollar{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 75px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.price{
    color: red;
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    font-family: 'Inter';
    margin: -15px -75px 30px 0px;
    color: rgba(25, 26, 21, 1);
}

/* plan area style */
.plan{
    padding: 30px;
    background-color: rgba(249, 250, 251, 1);
    border-radius: 15px;
}
.free-plan{
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.checkbox-2{
    width: 26px;
    height: 26px;
    color: rgba(109, 209, 48, 1);
}
.free-plan h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(25, 26, 21, 1);
}
/* free and pro future style */
.plan-button {
    text-align: center;
    margin-top: 27px;
}
.free-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 20px;
    font-family: 'Inter';
    text-decoration: none;
    background-color: white;
    padding: 17px 65px 17px 65px;
    color: rgba(84, 189, 149, 1);
}
.pro-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 20px;
    font-family: 'Inter';
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: 
    rgba(84, 189, 149, 1);
    padding: 17px 65px 17px 65px;
}
.pro{
    margin-top: -22px;
    box-shadow: 1px 0px 13px 0px white;
    background-color: rgba(84, 189, 149, 1);
    border-radius: 15PX;
    padding: 30px 20px 25px 20px;
}
.pro h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px; 
    text-align: center; 
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}
.pro p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 27px;
    font-family: 'Inter';
    padding: 0px 32px;
    color: rgba(255, 255, 255, 1);
}
.plan-con p{
    margin-top: 10px;
}
.pro-dollar{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 75px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1)
}
.pro-price{
    color: red;
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    font-family: 'Inter';
    margin: -15px 0px 30px 0px;
    color: rgba(255, 255, 255, 1)
}
.pro-save-btn{
    text-align: center;
    margin-bottom: 25px;
}
.pro-save-btn button {
    border: none; 
    width: 130px;
    height: 40px;
    margin: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    align-items: center;
    border-radius: 10px;   
    color: rgba(255, 255, 255, 1);
    background-color: rgba(133, 218, 185, 1);
}
.pro-btn{
    width: 230px;
    height: 60px;
    border: none;
    background-color: rgba(84, 189, 149, 1);
    border-radius: 20px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Inter';
}
/* footer area style */
.footer{
    margin-top: 130px;
    padding-top: 130px;
    display: block;
    background-color: rgba(22, 28, 40, 1)
}
.footer-area{
    /* margin-right: 50px; */
    /* display: flex; */
}
.footer-heading{
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    padding-right: 80px;
    font-family: 'Inter';
}
.footer-para-1{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 30px;
    font-family: 'Inter';
    padding-right: 40px;
    color: rgba(166, 166, 166, 1);
}
.f-img{
    margin-top: 42px;
}
.footer-para-2{
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 30px;
    padding-right: 40px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.footer-para{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.footer-para-bottom{
    font-size: 18px;
    font-weight: 500;
    margin-top: 79px;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(166, 166, 166, 1);
}
.man-img{
    display: flex;
    margin-top: 40px;
    padding-right: 115px;
}
.images{
    width: 66px;
    height: 66px;
}
.Biccas{
    margin-top: 130px;
}
.caption-2{
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(84, 189, 149, 1);
}
.images{
    display: flex;
}
.images img{
    width: 66px;
    height: 66px;
    float: left;
}
.play-btn{
    width: 66px;
    height: 66px;
    border: 2px solid white;
    border-radius: 50%;
}
.play-btn img{
    text-align: center;
    align-items: center;
    margin: 20px 25px;
} 
.email{
    display: flex;
    padding: 05px;
    width: 400px;
    border: 1px solid white;
    border-radius: 30px;
}
.email-con p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(166, 166, 166, 1);
    margin: auto;
    padding: 10px;
    float: left;
    font-family: 'Inter';
}
.icons{
    width: 46px;
    float: right;
    height: 46px;
    border-radius: 50px;
    background-color: green;
}
.icons img{
    width: 24px;
    height: 24px;
    float: right;
    margin: 10px 10px 10px 10px;   
}
.from-con{
    border-radius: 10px;
    background-color: rgba(34, 41, 56, 1);
    width: 612px;
    height: 588px;
    padding: 40px 86px 66px 86px;
}
.from-con img{
    width: 72px;
    margin: auto;
    height: 86px;
    display: block;
}
.from-con h1{
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 36px;
    text-align: center;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}
 label {
     font-size: 14px;
     font-weight: 500;
     margin-bottom: 20px;
     line-height: 16.94px;
     display: inline-block;
    color: rgba(255, 255, 255, 1);
}
input{
    width: 440px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 17px 0px 17px 20px;
}
textarea{
    width: 440px;
    height: 80px;
    border: none;   
    border-radius: 10px;
    padding: 20px 0px 43px 20px;
}
input::placeholder{
    margin-left: 20px;
}
.from-btn{
    width: 440px;
    height: 60px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(84, 189, 149, 1);
}
.free-trial{
    float: right;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 50px;
    line-height: 16.94px;
    color: rgba(166, 166, 166, 1)
}
.free-trial span{
    float: right;
    font-size: 14px;
    margin-left: 5px;
    line-height: 16.94px;
    color: rgba(255, 255, 255, 1);
}
.help-care {
   margin-top: 90px;
}
.care {
    font-size: 18px;    
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 21.78px;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
}
.services{
   font-size: 18px; 
   font-weight: 500;
   margin-top: 20px;
   line-height: 21.78px;
   font-family: 'Inter';
   color: rgba(166, 166, 166, 1);
}
.conditon{
    font-size: 18px;
    margin-top: 38px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

/* responsive area */
/* Mobile responsive area */
@media (min-width:320px){
    /* nav menu responsive */
    .navbar {
        margin-top: 10px;
    }
    .nav-item{
        margin: 10px 10px;
    }
    .navbar-nav {
        gap: 0px;
        margin-left: 0px;
    }
    .login{
        border: 1px solid green;
    }
    .login-signup{
        display: flex;
        flex-direction: column;
    }
   .container{
    width: 100%;
    margin: 0 auto;
   }
   .increase-area {
    display: flex;
    flex-direction: column;
    }
    .inc-heading h2{
        font-size: 40px;
        text-align: center;
        line-height: 50px;
        margin-top: 50px;
        font-weight: 700;
    }
    .inc-heading p{
        width: auto;
    }
    .collapse-heading{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        margin-top: 70px;
    }
    .products img {
        width: 145px;
        height: 36px;
        /* margin: 37px; */
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .products {
        text-align: center;
        margin: 30px 0px 45px;
    }
    .contant h1{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        margin-top: 70px;
    }
    .contant p{
        font-size: 18px;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .inc-image {
        text-align: center;
    }
    .inc-image img{
        max-width: 100%;
        height: auto;
    }
    .inc-heading p{
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .btn-play{
        display: flex;
        flex-direction: column;
    }
    .try{
        width: auto;
        margin: auto;
    }
    .ply{
        margin: auto;
        width: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .rating{
        text-align: center;
    }
    .icon-con{
        margin-bottom: 50px;
    }
    .trail-btn{
        margin-top: 50px;
    }
    .img-con-pra p{
        margin-top: 20px;
    }
    .hover-btn{
        margin: 20px;
    }
    .free-plan{
        margin-top: 15px;
    }
    .from-con{
        width: auto
        /* margin: auto; */
    }
    .image-right img{
        max-width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    .extra-width{
        width: auto;
        margin-top: 0px;
        padding: 0;
    }
    .gaps{
        display: flex;
        flex-direction: column;
    }
    .logo-contant{
        margin-top: 50px;
        display: table-footer-group;
        text-align: center;
    }
    .logo{
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .star{
        margin-bottom: 40px;
    }
    .features-area{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features-heading h1{
        font-size: 40px;
        margin-bottom: 30px;
        line-height: 50px;
        font-weight: 700;
    }
    .img-con-pra{
        text-align: center;
    }
    .feauture-area-margin {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .benifit{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .icon-contant {
        display: flex;
        column-gap: 10px;
        margin-top: 15px;
    }
    .choose-plan h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        font-family: 'Inter';
        color: rgba(25, 26, 21, 1);
    }
    .pro h1{
        color: rgb(254, 255, 250);;
    }
    .check-align{
        margin-top: 50px;
        margin-left: 30px;
    }
    .benifit-area h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        padding: 0px;
    }
    .image img{
        border-radius: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
    }
    .bg-img{
        width: 75%;
        height: 250px;
        background-image: url(images/Rectangle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
        border-radius: 20px;
        float: none;
        margin: auto;
        margin-bottom: 25px;
    }
    .top-img img{
        width: 150px;
        height: auto;
        margin-left: 90px;
        margin-top: 10px;
    }
    .price{
        margin: auto;
        margin-bottom: 30px;
        margin-top: -15px;
        overflow: visible;
    }
    .price img{
        width: 130px;
        height: 50px;
        margin-right: -70px;
    }
    .left-img{
        margin: 65px 0px 0px -50px;
    }
    .bottom-img{
        margin: 160px 0px 0px -110px;
    }
    .bottom-img img{
        width: 160px;
        height: 60px;
        margin-left: 60px;
    }
    .choose-plan{
        margin-top: 70px;
    }
    .choose-plan p{
        margin-top: 10px;
    }
    .btn-width{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .version-mt{
        margin: 100px 0px;
        display: flex;
        flex-direction: column; 
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .plan-con{
        background-color: #f2f1f3;
        max-width: 100%;
        height: auto;
        margin: auto;
        margin-top: 70px;
    }
    .plan-con p{
        padding: 0px;
    } 
    .dollar{
        font-size: 25px
    }
    .plan{
        padding: 1px 10px;
        max-width: 100%;
        height: auto;
    }
    .plan-button{
        margin: 27px 0px;
    }
    .free-btn{
        font-size: 18px;
        padding: 18px 35px 18px 35px;
    }
    .pro{
        max-width: 100%;
        height: auto;
        margin-top: 70px;
    }
    .pro p{
        padding: 0px;
    }
    .pro-dollar{
        font-size: 25px
    }
    .pro-price{
        margin: auto;
        margin-bottom: 30px;
        margin-top: -15px;
    }
    .pro-btn{
        font-size: 18px;
        padding: 18px 35px 18px 35px;
    }
    .version-mt {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .footer{
        margin: auto;
        padding-top: 40px;
    }
    .footer-contant{
        flex-direction: column-reverse;
    }
    .footer-area{
        text-align: center;
    }
    .footer-heading{
        padding: 0px;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
    }
    .footer-para-1{
        text-align: center;
        padding: 6px;
    }
    .footer-para-2{
        text-align: center;
        padding: 0px;
    }
    .footer-para-bottom {
        font-size: 13px;
        font-weight: 500;
        margin-top: 33px;
        line-height: 30px;
        font-family: 'Inter';
        color: rgba(166, 166, 166, 1);
    }
    .man-img{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .images img {
        width: 40px;
        height: 40px;
        float: left;
    }
    .play-btn {
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%;
        margin-top: -18px;

    }
    .play-btn img {
        text-align: center;
        align-items: center;
        margin: 8px 14px;
    }
    .Biccas {
        text-align: center;
        margin-top: 80px;
    }
    .from-con {
        max-width: 100%;
        height: 534px;
        padding: 0;
        margin: auto;
        padding: 20px 20px 0px 30px;
        margin-top: 50px; 
    }
    input{
        max-width: 100%;
        height: auto;
    }
    textarea{
        max-width: 100%;
        height: 50px;
    }
    .from-btn{
        max-width: 100%;
        margin-bottom: 0px;
    }
    .free-trial{
        margin-right: 66px;
        margin-top: 20px;
    }
    .help-care {
        text-align: left;
    }
    .conditon{
        text-align: center;
        font-size: 18px;
        margin-top: 38px;
        font-weight: 500;
        line-height: 30px;
        font-family: 'Inter';
        color: rgba(255, 255, 255, 1);
        margin-bottom: 40px;
        float: none;
    }
    .email{
        margin: auto;
        width: 300px;
    }
}
/* Max width 576px for small */
@media (min-width: 576px){
    body{
        background-image: url(images/Background-img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* nav menu responsive */
    .bissca{
        margin-top: 0px;
    }
    .bg-img {
        width: 75%;
        height: 500px;
        background-image: url(images/Rectangle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
        border-radius: 20px;
        float: none;
        margin: auto;
        margin-bottom: 25px;
    }
    .top-img img {
        width: 200px;
        height: auto;
        margin-left: 45px;
        margin-top: 10px;
    }
    .price img {
        width: 160px;
        height: 80px;
        margin-right: -70px;
    }
    .left-img{
        width: 50px;
        height: auto;
        margin-top: 130px;
    }
    .bottom-img img {
        width: 291px;
        height: 126px;
        margin-left: 10px;
        margin-top: 210px;
    }
    .plan {
        padding: 1px 10px;
        max-width: 100%;
        /* padding: 30px; */
        height: auto;
        margin: 40px;
        padding: 30px;
    }
    .icon-con{
        margin-bottom: 70px;
    }
    .help-care {
        text-align: left;
        margin-left: 20px;
    }
    .email{
        width: 450px;
        margin: auto;
    }
    .footer-area{
        text-align: center;
        margin-top: 50px;
    }
    .free-trial{
        margin-right: 30px;
        margin-top: 8px;
    }

    
}
/* min width 768px to 992px for ipad mini */
@media (min-width: 768px) {
    body{
        background-image: url(images/Background-img.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login-signup{
        margin-right: 90px;
    }
    .increase-area {
        display: flex;
        flex-direction: row;
    }
    .inc-heading h2{
        font-size: 40px;
        text-align: left;
        line-height: 50px;
        font-weight: 600;
        font-family: 'Inter';
    }
    .try button{
        padding: 18px 24px 18px 24px;
    }
    .ply {
        margin: auto;
        width: auto;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .inc-image {
        text-align: center;
    }
    .inc-heading p{
        text-align: left;
        margin: auto;
        margin-top: 15px;
    }
    .btn-play{
        display: flex;
        flex-direction: row;
        
    }
    .image-right img {
        max-width: 100%;
        margin: auto;
        margin-top: 50px;
        margin-top: 70px;
    }
    .extra-width{
        width: auto;
    }
    .gaps{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: 0;
    }
    .logo-contant{
        gap: 20px;
        text-align: left;
        display:inline-flex;
    }
    .star{   
         margin-bottom: 40px;
    }
    .feauture-area-margin {
        margin-top: 74px;
        display: flex;
        flex-direction: row-reverse;
    }
    .features-heading h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .img-con-pra{
        text-align: center;
    }
    .benifit{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .check-align{
        margin-top: 50px;
    }
    .benifit-area h1{
        font-size: 40px;
        text-align: -webkit-left;
    }
    .bg-img{
        width: 450px;
        margin-top: 50px;
        margin-right: 90px;
        background-image: url(images/Rectangle.svg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }
    .version-mt{
        display: flex;
        flex-direction: column; 
    }
    .plan-con{
        text-align: center;
        width: 400px;
        margin: auto;
        margin-top: 70px;
    }
    .pro{
        width: 400px;
        margin: auto;
        margin-top: 70px;
    }
    .plan{
        width: 350px;
        margin: auto;
    }
    .man-img {
        margin: auto;
        display: flex;
        margin-top: 30px;
        text-align: center;
        flex-direction: row;
    }
    .images img{
        width: 66px;
        height: 66px;
        margin: auto;
    }
    .play-btn{
        width: 66px;
        height: 66px;
        margin-bottom: -18px;
    }
    .play-btn img{
        width: 20px;
        margin: 15px 0px 0px 7px;
    }
    form{
        text-align: center;
    }
    .from-con {
        height: 530px;
        margin: auto;
        margin-top: 40px;
        max-width: 100%;
        padding: 20px 20px 0px 30px; 
    }
    label{
        font-size: 20px;
        margin-left: -391px;
    }
    .label-text{
        margin-left: -358px;
    }
    input{
        max-width: 100%;
        height: auto;
    }
    textarea{
        max-width: 100%;
        height: 50px;
    }
    .from-btn{
        max-width: 100%;
        margin: auto;
        display: block;
        margin-top: 20px;
    }
    .free-trial {
        margin-right: 110px;
        margin-top: 8px;
    }
    .help-care {
        margin-left: 70px;
    }
    .service-area{
        text-align: left;
    }
    .footer-contant{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-area{
        text-align: center;
        margin-top: 50px;
    }
}   
/* responsive width desktop display */
@media (min-width: 992px){
    /* nav menu add */
    .login{
        border: none;
    }
    .navbar-expand-lg .navbar-nav {
        margin: auto;
        flex-direction: row;
    }
    .login-signup{
        display: flex;
        flex-direction: row;
    }
    .increase-area {
        display: flex;
        flex-direction: row;
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .inc-heading h2{
        font: 'inter';
        font-size: 70px;
        text-align: left;
        line-height: 80px;
        margin-top: 0px;
    }
    .image-right img{
       max-width: 100%;
       height: auto;
       margin-top: 25px;
    }
    .inc-heading p {
        margin: auto;
        margin-top: 50px;
        text-align: left;
        margin-right: 80px;
    }
    .try{
        margin: initial;
    }
    .ply{
        margin: initial;
        margin-top: 10px;
    }
    .inc-image img{
        max-width: 75%;
        height: auto;
        margin: initial;
        float: left;
    }
    .products img {
        margin: 15px;
    }
    .extra-width{
        width: auto;
    }
    .gaps {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
    }
    .contant h1 {
        font-size: 41px;
        text-align: left;
        margin: 0px;
    }
    .contant p{
        text-align: left;
    }
    .rating {
        text-align: left;
    }
    .logo-contant{
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .features-area {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .features-heading h1 {
        font-size: 41px;
    }
    .try button{
        font-size: 16px;
        margin-top: 10px;
    }
    .feauture-area-margin {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
    }
    .img-con-pra{
        margin-top: 0px;
    }
    .img-con-pra h3, p{
        text-align: left;
    }
    .image img {
        width: 296px;
        height: 400px;
    }
    .bg-img {
        width: 400px;
        height: 397px;
        margin: auto;
    }
    .benifit {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .check-align {
        margin: 0 auto;
        margin-top: 53px;
    }
    .benifit-area h1 {
        font-size: 41px;
    }
    .icon-contant p {
        font-size: 16px;
    }
    .bottom-img { 
        margin: 50px 0px 0px -110px;
    }
    .free-btn {
        padding: 17px 19px 17px 19px;
    }
    .pro-btn{
        padding: 17px 19px 17px 19px;
    }
    .footer-heading h1{
        font-size: 41px;
    }
    .plan-con{
        background-color: rgb(247 247 247);
    }
    .free-plan {
        margin-top: 15px;
    }
    .plan {
        padding: 30px;
        background-color: rgb(232 240 247);
        border-radius: 15px;
    }
    .plan-con p{
        padding: 0px;
    }
    .btn-width {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 35px;
    }
    .version-mt{
        display: flex;
        flex-direction: row;
    }
    .plan-con {
        text-align: center;
        width: 270px;
        margin: auto;
    }
    .pro {
        width: 270px;
        margin: auto;
        margin-top: -30px;
    }
    .free-plan h6 {
        font-size: 12px;
        font-weight: 500;
        line-height: 29px;
        font-family: 'Inter';
        color: rgba(25, 26, 21, 1);
    }
    .from-con{
        width: 450px;
        height: 550px;
    }
    input {
        width: 300px;
    }
    textarea{
        width: 300px;
    }
    label {
        margin-left: -252px;
        font-size: 20px;
    }
    .label-text {
        margin-left: -219px;
    }
    .from-btn{
        width: 300px;
        margin-bottom: 0px;
    }
    .free-trial {
        margin-right: 50px;
        margin-top: 8px;
    }
    .Biccas{
        width: 45%;
        margin-top: 0px; 
    }
    .footer-para-bottom{
        margin-top: 150px;
    }
    .man-img{
        padding-right: 40px;
    }
    .footer-contant{
        display: flex;
        flex-direction: row;
    }
    .footer-area{
        text-align: left;
        padding: 0px;
    }
    .footer-heading{
        text-align: left;
    }
    .footer-para-1{
        padding: 0px;
        text-align: left;
    }
    .footer-para-2{
        text-align: left;
    }
    .caption-2{
        text-align: left;
    }
    .help-care{
        width: 55%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .email{
        width: 400px;
        float: left;
    }
    .footer-bttom{
        margin-top: 110px;
    }
}
/* responsive min width 1200 to 1399 for desktop */
@media (min-width: 1200px){

    .inc-heading h2{
        font-size: 80px;
        font-weight: 700;
        line-height: 90px;
        font-family: 'Inter';
        color: rgb(25, 26, 21);
    }
    .image-right img{
        width: 560px;
        height: 430px;
        margin-top: 19px;
    }
    .inc-image img{
        width: 450px;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .inc-heading p {
        /* margin: auto; */
        margin-top: 50px;
        text-align: left;
        margin-right: 110px;
    }
    .try button{
        font-size: 16px;
        padding: 17px 20px 17px 20px;
    }
    .products img {
        margin: 19px;
    }
    .extra-width{
        width: auto;
    }
    .contant h1 {
        font-size: 41px;
    }
    .features-heading h1 {
        font-size: 41px;
    }
    .image img {
        width: 296px;
        height: 400px;
    }
    .img-con-pra h3{
        text-align: center;
    }
    .img-con-pra p{
        text-align: center;
    }
    .bg-img{
        width: 450px;
        height: 380px;
        float: left;
        margin-left: 55px
    }
    .button-right-side {
        text-align: right;
        text-align: center;
        margin-top: 0px;
    }
    .benifit-area h1 {
        font-size: 41px;
    }
    .btn-width{
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        gap: 10px;
    }
    .hover-btn{
        margin: 0px;
    }
    .monthly {
        width: 155px;
        height: 56px;
        border: none;
        border-radius: 10px;
        font-family: 'Inter';
        background-color: rgba(255, 255, 255, 1);
    }
    .yearly {
        border: none;
        width: 155px;
        height: 56px;
        border-radius: 10px;
        font-family: 'Inter';
        background-color: rgba(84, 189, 149, 1);
    }
    .icon-contant p {
        font-size: 16px;
    }
    .bottom-img { 
        margin: 0px 0px 0px -110px;
    }
    .free-btn {
        padding: 17px 19px 17px 19px;
    }
    .pro-btn{
        padding: 17px 19px 17px 19px;
    }
    .plan-con {
        text-align: center;
        width: 340px;
        margin: auto;
    }
    .pro {
        width: 340px;
        margin: auto;
        margin-top: -30px;
    }
    .free-plan h6 {
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
        font-family: 'Inter';
        color: rgba(25, 26, 21, 1);
    }
    .plan-con{
        background-color: rgb(252, 249, 249);
        box-shadow: white 1px 0px 13px 0px;
    }
    .plan-con p{
        padding: 0px;
    }
    .footer-heading h1{
        font-size: 41px;
    }
    .help-care {
        /* text-align: center; */
        margin-left: 50px;
    }

}

